In [1]:
import numpy
import pandas
import sys

In [3]:
thing = pandas.read_csv("C:/Users/aidan/Documents/peanut.csv")
print(thing)

                                          Description  Blueberries  \
0   7:30-15:15, Delta, Supervisor: Arlan, Partner:...     0.000000
1   7:00-15:45, Emma Lea, Supervisor: Arlan, Partn...     0.000000
2   7:30-16:15, Driediger/Krause, Supervisor: Jen,...     0.000000
3   7:30-15:30, Pitt Meadows, Supervisor: Dru, Par...    10.666667
4   7:30-15:30, Cloverdale, Supervisor: Jen, Partn...    17.600000
5   7:30-15:30, Golden Eagle(traps), Supervisor: N...    28.000000
6   7:30-16:15, Emma Lea, Supervisor: Arlan, Partn...    26.727273
7   7:30-16:00, Driediger/Krause, Supervisor: Jen,...     1.625000
8   6:30-3:15, Pitt Meadows, Supervisor: Dru, Part...     4.363636
9                              7:30-14:30, Cloverdale    80.000000
10  7:30-17:15, Delta, Supervisor: Arlan, Partner:...    45.000000
11  7:30-14:30, Emma Lea, Supervisor: Arlan, Partn...     0.000000
12  7:30-15:00, Driediger/Krause, Supervisor: Jen,...     0.000000
13  7:00-11:30, Pitt Meadows, Supervisor: Dru, Par...    13.888889
14  7:30-15:30, Cloverdale, Supervisor: Jen, Partn...    69.600000
15  7:30-13:45, Delta, Supervisor: Arlan, Partner:...    38.000000
16  7:30-14:30, Emma Lea, Supervisor: Arlan, Partn...    23.384615
17  7:30-15:00, Driediger/Krause, Supervisor: Jen,...     6.857143
18  7:30-14:00, Delta, Supervisor: All, Partner: E...     2.076923
19                             7:30-12:00, Cloverdale     5.333333
20  7:30-14:30, Chong/Emma Lea, Supervisor: Arlan,...     8.000000
21  7:30-15:00, Driediger/Krause, Supervisor: Jen,...     1.214286
22  7:30-16:00, Pitt Meadows/Maple Ridge, Supervis...    12.500000
23  7:30-14:15, Cloverdale, Supervisor: Dru, Partn...     0.000000

    China/Korea blueberries  Strawberries  Raspberry/Blackberry  \
0                  0.000000      0.000000              0.000000
1                  0.000000      0.000000              0.000000
2                  0.000000      6.545455              2.454545
3                  5.333333      0.000000              0.000000
4                  8.800000      0.000000              0.000000
5                  0.000000      0.000000              0.000000
6                  0.000000     15.272727              0.000000
7                  0.000000      8.125000              3.250000
8                 13.636364      0.000000              0.000000
9                  0.000000      0.000000              0.000000
10                 0.000000      0.000000              0.000000
11                 0.000000      0.000000              0.000000
12                 0.000000      6.428571              2.571429
13                11.111111      0.000000              0.000000
14                17.400000      0.000000              0.000000
15                 0.000000      0.000000              0.000000
16                 0.000000     14.615385              0.000000
17                 0.000000     16.000000              9.142857
18                 0.000000      0.000000              0.000000
19                 6.666667      0.000000              0.000000
20                 0.000000     28.000000              0.000000
21                 0.000000      6.071429              4.857143
22                 3.125000      0.000000              0.000000
23                 0.000000      0.000000              0.000000

    SWD Mass Trapping  Silver Valley Nutrient Sampling 2018  KM total
0            0.000000                              0.000000       NaN
1            0.000000                              0.000000       NaN
2            0.000000                              0.000000       9.0
3            0.000000                              0.000000      16.0
4            6.600000                              0.000000      33.0
5            0.000000                              0.000000      28.0
6            0.000000                              0.000000      42.0
7            0.000000                              0.000000      13.0
8            0.000000                              0.000000      18.0
9            0.000000                              0.000000      80.0
10           0.000000                              0.000000      45.0
11           0.000000                              0.000000       0.0
12           0.000000                              0.000000       9.0
13           0.000000                              0.000000      25.0
14           0.000000                              0.000000      87.0
15           0.000000                              0.000000      38.0
16           0.000000                              0.000000      32.0
17           0.000000                              0.000000       9.0
18           6.923077                              0.000000      12.0
19           0.000000                              0.000000      38.0
20           0.000000                             16.000000      52.0
21           0.000000                              4.857143      17.0
22           0.000000                              9.375000      25.0
23           0.000000                             41.000000      41.0